#RewriteEngine on
#RewriteRule ^(\w+)$ http://localhost/__naker/Plugin_4/Noticias/$1.php
#RewriteRule ^$ http://localhost/__naker/Plugin_4/Noticias/Noticias.php
ErrorDocument 404 http://52.33.172.255/pgmm/404