#viewer {
    background:rgb(20,20,20) url(../../img/A.jpg) no-repeat center;
    background-size:auto 100%;
}
#viewer[num="0"]{  background-image:url(../../img/servicios/apoyo/laboratorio.jpg);  }
#viewer[num="1"]{  background-image:url(../../img/servicios/apoyo/asesorias.jpg);  }
#viewer[num="2"]{  background-image:url(../../img/servicios/apoyo/tutorias.jpg); background-size:100% auto;}
#viewer[num="3"]{
    background-image:url(../../img/servicios/apoyo/desarrollo.jpg);
    background-size:auto 80%;
    background-color:white;
}
