#viewer {
    background:rgb(30,30,30) url(../../img/A.jpg) no-repeat center;
    background-size:100% auto;
}

#viewer[num="0"] {  background-image: url(../../img/oferta/IFI/descripcion.JPG); }
#viewer[num="1"] {  background-image: url(../../img/oferta/IFI/objetivo.jpg);}
#viewer[num="2"] {  background-image: url(../../img/oferta/IFI/requisitos.jpg); }
#viewer[num="3"] {  background-image: url(../../img/oferta/IFI/PLAN%20DE%20ESTUDIO.jpg); }
#viewer[num="4"] {  background-image: url(../../img/oferta/IFI/profesores.jpg); }
#viewer[num="5"] {  background-image: url(../../img/oferta/IFI/tutoria.jpg); }
#viewer[num="6"] {  background-image: url(../../img/oferta/IFI/estudiante.jpg); }
#viewer[num="7"] {  background-image: url(../../img/oferta/IFI/cuerpo_academico.jpg); }
#viewer[num="8"] {  background-image: url(../../img/oferta/IFI/proceso_administrativo.jpg); }
#viewer[num="9"] {  background-image: url(../../img/oferta/IFI/egresado.jpg); }
#viewer[num="10"] {  background-image: url(../../img/oferta/IFI/estadisticas.jpg); }
#viewer[num="11"] {  background-image: url(../../img/oferta/IFI/perfiles.jpg); }
#viewer[num="12"] {  background-image: url(../../img/oferta/IFI/vinculacion.jpg); }