RewriteEngine on
RewriteRule ^(\w+)$ http://localhost/__naker/Plugin_4/Servicios/$1.php
RewriteRule ^$ http://localhost/__naker/Plugin_4/Servicios/Alumnos.php
ErrorDocument 404 http://localhost/__naker/Plugin_4/404